<section class="page-header">
  <h1 class="project-name">{{ page.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://klimalautern.de/">
    <img 
      style="display: block; 
             margin-left: auto;
             margin-right: auto;
             width: 20%;"
      src="/Logo_KlimaLautern.jpeg" 
      alt="Logo KlimaLautern" />
  </a>
  <section id="links">
    <a href="/index.html">Home</a>
    &nbsp;
    <a href="/kontakt-social-media.html">Kontakt & Social Media</a>
    &nbsp;
    <a href="/blog.html">Blog</a>
  </section>
</section>
