<section class="page-header">
  <h1 class="project-name">{{ page.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <section id="links">
    <a href="/index.html">Home</a>
    &nbsp;
    <a href="https://twitter.com/KlimaLautern">Twitter</a>
    &nbsp;
    <a href="https://climatejustice.social/@KlimaLautern">Mastodon</a>
    &nbsp;
    <a href="https://www.facebook.com/KlimaLautern">Facebook</a>
    &nbsp;
    <a href="https://www.instagram.com/klimalautern/">Instagram</a>
  </section>
</section>
